.btns{
    width: 67%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2px;
    margin-right: 20px;
}

.btn1{
    outline: none;
    border-radius: 8px;
    align-items: center;
    background: transparent;
    font-family: none;
    border: none;
    background-color: #F9F9FF;
    width: 96px;
    height: 44px; 
}
.btn1-active{
    background-color: var(--lightGreen2) !important;
}
.btn1:hover{
    background-color: var(--lightGreen2) !important;
}

.btn-bt{
    margin: 0 10px;
}

.to-editorder{
    width: 30%;
}

.to-heading{
    height: auto;
    font-family: 'Gilroy-SemiBold';
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;
}

@media only screen and (max-width: 280px) {
    
    .btns{
        width: 90% !important;
        margin-top: 25px !important;
        justify-content: space-between;
        font-size: 1rem;
    }
    .btn1{
        width: 80px;
    }
}

@media only screen and (max-width: 1280px) {
    
    .to-heading{
        flex-direction: column;
    }
    .btn-bt{
        margin: 0 0;
    }
    .btns {
        margin-top: 25px !important;
        /* border: 2px solid red; */
        width: 100% !important;
        justify-content: space-between;
    }
    .to-editorder{
        width: 100% !important;
    }
    
  }

  .getexel-btn{
    background-color: #00a651 !important;
    min-width: 15%;
    color: white;
    padding: 5px !important;
    border: none !important;
    margin: 5px !important;
}
.order-table{
    background-color: #ffffff !important;
    box-shadow: none !important;
    box-sizing: content-box !important;
}
