.pdf-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.pdf-display-flex{
    flex-direction: row !important;
}
.pdf-btn-specific{
    outline: line;
    border: none;
    border-radius: 0% !important;
    color: var(--darkGreen);
    border: 2px solid var(--darkGreen);
    width: 320px;
    height: 44px;
    background-color: transparent;
    font-weight: bold;
    transition:all 0.2s linear;
}
.pdf-btn-specific-d{
    margin-right: 10px;
}
.pdf-btn-specific:hover{
    color:white;
    background-color: var(--darkGreen);
}
@media only screen and (max-width: 600px) {
    .pdf-display-flex{
        flex-direction: column !important;
    }
    .pdf-btn{
        flex-direction: column;
    }
    .pdf-btn-specific{
        width: 280px;
    }
  }