.lv-list{
    display: flex;
    /* margin-right: 10px; */
    border-bottom: 1px solid var(--textColor);
    transition: all 0.3s linear 0.5s;
}
.lv-property{
    margin-left: 10px;
    color: var(--textColor);
    width: 30% !important;
    transition: all 0.3s linear 0.5s;
}

.lv-value{
    color: var(--textColor);
    font-weight: bold;
    width: 60% !important;
    transition: all 0.3s linear 0.5s;
}

.lv-icon{
    /* width: 10% !important; */
    text-align: right !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.lv-value-label{
    background-color: var(--darkGreen) !important;
    color: white!important;
    max-width: 30% !important;
    text-align: center;
    font-weight: lighter;
}

.lv-indexnum{
    display: flex;
    align-items: center;
    font-weight: 800;
    margin-right: 3px;
    font-size: 1.5rem;
}
.lv-list-mob{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--textColor);
    transition: all 0.3s linear 0.5s;
}
.lv-list-mob-top{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.lv-list-mob-bottom{
    display: flex;
}
@media only screen and (max-width: 600px) {
    .lv-list{
        margin: 0 15px;
    }
    .lv-list-mob{
        margin: 0 15px;
        flex-direction: column;
    }
    .lv-list-mob-bottom{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .lv-list-mob-top{
        width: 100%;
        margin: 10px 0;
    }
    .lv-property{
        width: 40% !important;
    }
    .lv-value{
        width: 55% !important;
    }
    .lv-value-label{
        max-width: 50%!important;
    }

  }
