.co-btns {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2px;
    /* border: 1px solid rebeccapurple; */
}

#container {
    padding-top: 20px !important;
}

.co-btn {
    outline: none;
    border-radius: 8px;
    align-items: center;
    height: 44px;
    background: transparent;
    font-family: none;
    border: none;
    background-color: #F9F9FF;
    margin-left: 15px;
}

.co-btn:hover {
    background-color: var(--lightGreen2);
}

.co-editorder {
    width: 30%;
}

.co-heading {
    height: auto;
    font-family: cursive;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 24px;
    line-height: 28px;
    margin-top: 20px;
    letter-spacing: 0em;
    text-align: left;
    font-weight: bold;
}

.no-main {
    margin-top: auto;
    transition: all 0.3s linear 1s;
    padding: 4rem !important;
}

@media only screen and (max-width: 280px) {
    .co-btns {
        width: 90% !important;
        margin-top: 25px !important;
    }

    #container {
        padding: 5px !important;
    }
}

@media only screen and (max-width: 600px) {
    #container {
        padding: 5px !important;
    }


    .co-heading {
        flex-direction: column;
    }

    .co-btns {
        margin-top: 25px !important;
        width: fit-content !important;
    }

    .co-editorder {
        width: 100% !important;
    }
}

@media only screen and (max-width: 1120px) {

    #container {
        padding: 5px !important;
    }

    .co-editorder {
        width: 50%;
    }

    .co-btns {
        width: 50%;
    }
}