@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
body{
	font-family: 'Montserrat', sans-serif !important;
}
.bg-home
{
    background-color: var(--bgcolor);
    width: 60%;
    height: 500px !important;
    margin: 0px 20% !important;
}
.title-home
{
    color:black;
    font-weight: 100;
    margin-top:7%;
    font-size:25px;
    margin-bottom:2%;
}
.box-home
{
    width: 200px !important;
    height:180px;
    text-align: center;
    background-color:var(--lightGreen) !important;
    border:0 !important;
    padding:20px 20px;
    margin-right:30px;
}
.boxrow-home
{
    margin-top: 50px !important;
}
.newOrderlogo-home
{
    width:45px;
    height:45px;
}
.editOrderlogo-home
{
    width:45px;
    height:45px;
}
.trackOrderlogo-home
{
    width:45px;
    height:45px;
}
.boxname-home
{
    margin-top:20px;
    font-size:20px;
}