@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
body{
	font-family: 'Montserrat', sans-serif !important;
}
.bg-home
{
    background-color: var(--bgcolor);
}
.title-home
{
    color:black;
    font-weight: 300;
    font-size:25px;
    margin-left: 3.5rem !important
}
.boxcenter-home
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-home
{
    width: 200px !important;
    height:180px;
    text-align: center;
    background-color:#DEFFD1 !important;
    border:0 !important;
    padding: 1.5rem!important;
}
.boxrow-home
{
    margin-top: 50px !important;
}
.logo-home
{
    width:45px;
    height:45px;
}
.boxname-home
{
    margin-top:20px;
    font-size:20px;
}
@media screen and (max-width: 1025px) {
	.title-home
    {
        margin-left: 0 !important;
    }
  }
  @media screen and (max-width: 768px) {
    .logo-home
    {
        width:35px;
        height:35px;
    }
	.boxname-home
    {
        margin-left: 0 !important;
        font-size:15px;
    }
    .box-home
    {
        padding:0 !important;
        padding-top: 1.5rem !important;
        height:160px;
    }
  }