.navbar {
    background-color: #f9f9ff;
    height: 96px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  hr{
    border-top: 0px solid black;
    margin-top: 15px;
    margin-left: -12px;
    width: 262px;
  }
  
  .menu-bars {
    width: 28px;
    height: 21px;
    left: 36px;
    top: 37px;
    background: none;
    margin-left: 8px;
  }
  .menu-bars svg {
    height: 26px;
    margin-left: 14px;
  }
  .nav-menu {
    background-color: #DEFFD1;
    width: 262px;
    height: 1180px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 45px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #00a651;
  }
  
  .nav_logotext{
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #1F1F1F;
    margin: 0 !important;
  }
  
  .container{
    justify-content: center !important;
  }
  
  .nav-text-red{
    color: red;
  }
  
  .nav-menu-items {
    width: 100%;
    margin-left: -40px;
  }
  
  .navbar-toggle {
    background-color: #DEFFD1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  