@media screen and (max-width:359px) and (min-width:279px){

    #container{
        display: block !important;
        justify-content: center  !important ;
        align-items: center !important;
        margin-top: 8px  !important;
    }

    #editorder-data{
        height: 400px;
        width: 260px;
    }
    #editbackbtn{
        margin-left: 0px !important;
    }
    
    #editOrder{
        width: 254px !important;
        list-style: none;
    }

    #cname{
        margin-left: 24px !important;
    }
    #rno{
        margin-left: 70px !important;
    }
    #editicon{
        margin-top: -35px;
        margin-left: 250px !important;
        }
    #clientdiv{
        margin-left: -5px !important;
    }
    #refnodiv{
        margin-left: -4px !important;
        margin-top: 5px;
    }
    #backbtn{
        height: 22px !important;
        width: 22px !important;
        margin: 1px !important;
    }
    #editorder-text{
        font-family: 'Gilroy-SemiBold';
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        color: #1F1F1F;
        margin: 0 !important;
    }
}

#backbtn{
    color: black;
    height: 28px;
    width: 28px;
    top: 24px;
    left: 24px;
    margin: 2px;
}

.edit-text{
    display: flex;
    width: 207px !important;
    left: 260px;
    align-items: center;
    position: absolute;
    top: 136px;
    align-items: baseline;
}

#cname{
    margin-left: 72px;
    font-weight: bold;
}
#rno{
    margin-left: 120px;
    font-weight: bold;
}

#editicon{
margin-top: -35px;
margin-left: 662px;
}

#clientdiv{
    margin-left: 16px;
}
#refnodiv{
    margin-left: 16px;
    margin-top: 5px;
}

.editorder-text{
    font-family: 'Gilroy-SemiBold';
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #1F1F1F;
    margin: 0 !important;
}

.editorder-data{
    height: 400px;
    width: 708px;
}

.edit-data{
    width: 708px !important;
    list-style: none;
}

#container{
    /* margin-left:auto; */
    display: flex;
    justify-content: center  !important;
    align-items: center;
    margin-top: 30px;
}
.editbackbtn{
    margin-left: 380px !important;
}