.eo-container{
    width: auto;
    height: auto;
    position: relative;
    transition: all 0.3s linear 0.5s;
    animation: animateblur 0.5s linear forwards;
}
@keyframes animateblur {
    0% {
      opacity: 0;
      filter: blur(10px); }
    100% {
      opacity: 1;
      filter: blur(0px); } 
  }
@media only screen and (max-width: 600px) {
    .eof-up-btn{
        position: fixed !important;
        overflow: scroll !important;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .eof-mob{
        margin-bottom: 10%;
    }
  }

  .dropdown-content {

    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    max-height: 230px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
    border-left:1px solid #333;
    border-bottom:1px solid #333;
    border-right:1px solid #333;
    
}
.options1{
    border: none;
    background: white;
    width: 100%;
    text-align: left;
}
.dropdown1{
    background: #fff !important;
    z-index: 999 !important;
    height: 0px  !important;
}
.dropdown-content .options1 {
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-content .options1:hover {
    background: #f4f4f4;
}