@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css");
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
body {
    font-family: "Montserrat", sans-serif !important;
}

.editbackbtn {
    margin-left: 0px;
    width: 100%;
}

#backbtn {
    color: black;
    height: 28px;
    width: 28px;
    top: 24px;
    left: 24px;
    margin: 2px;
}

.editorder-text {
    font-family: cursive;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #1F1F1F;
    margin: 0 !important;
}

#deleteicon {
    height: 25px;
    width: 25px;
}

.editicons {
    position: absolute;
    right: 18%;
}

.clienttitle {

    font-weight: 600;
    font-size: 22px;
}

td {
    width: 50%;
}




/* ------------------------------------------------- */

.slider
{
    margin:40px 0px;
}
.img-slider {
    width:22%;
    margin:5px;
    border-radius: 5px;
}
.btn-slider
{
    border:none;
    background-color:white;
}