/* Color Code 
black : 1F1F1F
dark green : 00A651
ligh green : DEFFD1
Nav Color : F9F9FF
BG : FFFFFF
*/
:root{
    --darkGreen:#00A651;
    --lightGreen:#91f16b;
    --lightGreen2:#deffd1;
    --navColor:#F9F9FF;
    --textColor:#1f1f1f;
    --bgColor:#ffffff;
    --redColor:#d70000;
}
body::-webkit-scrollbar {
    display: none;
  }
.pageview{
    
    width: 70% !important;
}


@media only screen and (max-width: 600px){
    .pageview {
        width: 100% !important;
        margin-top: 10px !important;
    }
}
/* how to use?
    property-name:var(--darkGreen);
*/