/* Color Code 
black : 1F1F1F
dark green : 00A651
ligh green : DEFFD1
Nav Color : F9F9FF
BG : FFFFFF
*/
:root{
    --darkGreen:#00A651;
    --lightGreen:#91f16b;
    --navColor:#F9F9FF;
    --textColor:#1f1f1f;
    --bgColor:#ffffff;
}

/* how to use?
    property-name:var(--darkGreen);
*/